*{
    box-sizing: border-box;
    background: beige;
}
h1{
    text-align: center;
    
}
  
main{
    font-family: "Poppins", sans-serif;
    margin:0;
}
.background-image{
    display: flex;

}
.side-nav{
    display: flex;
    width: 160px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 5px;
    background-color: chocolate;
    overflow: auto;
}

.top-img{
    margin-left:200px;
    height: 720px;
    width: 1080px; 
    text-align: center;
        
}
    
#top-img{
    max-width: 100%;
    max-height: 100%;
}
#title-quote{
    color: #13293d;
    top: 8px;
    right: 16px;
    background-color: chocolate;
    border-style:double;
    border-color: lightblue;
    margin-bottom: 10px;
}
    